In [1]:
import io, os.path, re
import requests, urllib, json
import pandas as pd
import numpy as np

In [16]:
def mojeIP():
    r = requests.get('https://httpbin.org/ip')
    text = r.text
    dane = json.loads(text)
    return dane['origin']

In [17]:
mojeIP()

'217.67.203.51'

In [51]:
def facts(number=7, fact_type='math'):
    if fact_type in ["math", "date", "year", "trivia"]:
        url = f'http://numbersapi.com/{number}/{fact_type}?json'
        r = requests.get(url)
        text = r.text
        fact = json.loads(text)
        return fact["text"]
    else:
        return "Błędny typ faktu"

In [52]:
facts()

'7 is the only dimension, besides the familiar 3, in which a vector cross product can be defined.'

In [67]:
def masoweCiekawostki(start, end, typ): 
    if typ in ["math", "date", "year", "trivia"]:
        dane = []
        url = f'http://numbersapi.com/{start}..{end}/{typ}?json'
        r = requests.get(url)
        text = r.text
        fact = json.loads(text)
        for key in fact.keys():
            dane.append(fact[key]["text"])
        return pd.DataFrame({"Ciekawostka":dane})
    else:
        return("Błędny typ faktu")

In [68]:
masoweCiekawostki(2000, 2010, "year")

                                          Ciekawostka
0   2000 is the year that Disney's Paradise Pier H...
1   2001 is the year that FBI agent Robert Hanssen...
2   2002 is the year that the planetoid Quaoar is ...
3   2003 is the year that the People's Republic of...
4   2004 is the year that Hurricane Jeanne makes l...
5   2005 is the year that the world's largest bank...
6   2006 is the year that NASA's Stardust mission ...
7   2007 is the year that the Asia-Pacific Economi...
8   2008 is the year that India sets a world recor...
9   2009 is the year that the President of Guinea-...
10  2010 is the year that an earthquake and conseq...

In [73]:
def masoweCiekawostki(start, end, typ): 
    if typ in ["math", "date", "year", "trivia"]:
        url = f'http://numbersapi.com/{start}..{end}/{typ}?json'
        return pd.read_json(url, orient="index")[["type", "text"]]
    else:
        return("Błędny typ faktu")

In [74]:
masoweCiekawostki(2000, 2010, 'year')

      type                                               text
2000  year  2000 is the year that Bashar al-Assad is confi...
2001  year  2001 is the year that UK politician and noveli...
2002  year  2002 is the year that Wall Street Journal repo...
2003  year  2003 is the year that Paul Martin becomes the ...
2004  year  2004 is the year that the Ukrainian transport ...
2005  year  2005 is the year that an Australian photojourn...
2006  year  2006 is the year that a hotel in Mecca, Saudi ...
2007  year  2007 is the year that Earthquake of 8,2° in To...
2008  year  2008 is the year that a car bomb detonates, ki...
2009  year  2009 is the year that the World Health Organiz...
2010  year  2010 is the year that the World Health Organiz...